.titluBox {
    color: #991d21;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #0c120c;
}
.titluBox i{
	font-size: 17px;
}
.box{
	border: 1px solid #0c120c;
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;
    border-radius: 4px;
}
.formular{
	background-color: rgba(231, 237, 238, 0.58);
}
.linieForm {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
}
.linieForm:last-child{
	padding-bottom: 30px;
	margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid;
}
.linieForm a{
	text-decoration: none;
	color: #0c120c;
	cursor: pointer;
}
.linieForm a:hover{
	text-decoration: none;
	color: #991d21;
	cursor: pointer;
}
.label{
	flex: 1;
	padding-top: 5px;
}
.input{
	flex:3;
}
.input input {
    width: 100%;
    border-radius: 4px;
    height: 30px;
    border: 1px solid #0c120c;
    padding-left: 5px;
}
.input input:hover, .input textarea:hover{
    border-radius: 4px;
    transition: .3s all;
    border: 1px solid #35b3d6;
    box-shadow: 0px 0px 3px 1px #35b3d6;
}
.input input:focus, .input textarea:focus{
    border-radius: 4px;
    outline: none;
    border: 1px solid #35b3d6;
    box-shadow: 0px 0px 3px 1px #35b3d6;
}
.submit{
    text-align: left;
    flex: 3;
}
.submit input{
	height: 30px;
    color: #fff;
    min-width: 120px;
    border-radius: 4px;
    border: 1px solid #0c120c;
    background-color: #35b3d6;
}
.submit input:hover{
	transition: .3s all;
    border: 1px solid #35b3d6;
    box-shadow: 0px 0px 3px 1px #35b3d6;
    cursor: pointer;
}
.dflex{
    display: flex;
}
.mr30{
    margin-right: 30px;
}
.titluContent{
    color: #991d21;
    font-size: 25px;
    border-bottom: 1px solid #0c120c;
    margin-bottom: 30px;
}
.titluContent span{
    margin-bottom: 10px;
    display: block;
}
.meniuCont {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.meniuCont a:hover{
    background-color:#35b3d6;
    border: 1px solid #35b3d6;
    transition: .3s all;
}
.meniuCont a {
    padding-top: 6px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #19647e;
    border: 1px solid #0c120c;
}
.width100{
    width: 100%;
}
.input textarea{
    width: 100%;
    border-radius: 4px;
    height: 100px;
    border: 1px solid #0c120c;
    padding-left: 5px;
}
.contentTop{
    display: block;
}
.contulTau{
    width: 140px;
    text-align: right;
    padding-top: 15px;
}
.contulTau a{
    text-decoration: none;
    color: #35b3d6;
    font-size: 14px;
}
.contulTau i{
    font-size: 13px;
    margin-right: 3px;
}
.contulTau button{
    min-width: 70px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #0c120c;
    border-radius: 4px;
    margin-right: 5px;
}
.contulTau button:hover{
    transition: .3s all;
    border: 1px solid #35b3d6;
    box-shadow: 0px 0px 3px 1px #35b3d6;
}
.insignaExplicit{
    margin-bottom: 40px;
}
.explicatieInsigna{
    font-size: 18px;
    margin-bottom: 40px;
}
.insignaExplicit .insigna{
    width: 25%;
    margin: 0 auto;
}