/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end CSS reset */

*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	position: relative;
	padding-bottom: 380px;
	min-height: 100vh;
	color:#0c120c;
}
.container{
	margin:0 auto;
	width: 90%;
	max-width: 1400px;
	height: inherit;
}
.sus {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: inherit;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px; 
}
header{
	height: 70px;
	background-color: #fff;
}
header img{
	max-height: 100%;
	max-width: 100%;	
}
.logo a {
    display: inline-block;
    height: 30px;
    margin-top: 15px;
}
.logo {
    width: 140px;
    text-align: center;
}
.login {
    width: 140px;
    text-align: right;
    padding-top: 15px;
}
.login a{
	text-decoration: none;
	color: #35b3d6;
	font-size: 14px;
}
.login button{
	width: 70px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #0c120c;
    border-radius: 4px;
    margin-right: 5px;
}
.login button:hover{
	transition: .3s all;
    border: 1px solid #35b3d6;
    box-shadow: 0px 0px 3px 1px #35b3d6;
}
.cauta {
    width: calc(100% - 280px);
    text-align: center;
    padding-top: 15px;
}
.cautareSus{
	width: 50%;
	margin: 0 auto;
	position: relative;
}
.cautareSus input{
	width: 100%;
	padding: 5px;
	height: 30px;
	border-radius: 4px;
	border:1px solid #0c120c;
}
.cautareSus button {
    position: absolute;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #35b3d6;
    color: #fff;
    right: 0;
    top: 0;
    height: 100%;
    border: 1px solid #0c120c;
    border-left: 0px;
    width: 35px;

}

nav {
    background-color: #19647e;
    position: sticky;
    height: 50px;
    top:0px;
    z-index: 2;
    box-shadow: 0px 3px 10px -2px #242424;
}
.meniu {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: inherit;
}
.meniu a {
    flex: 1;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-top: 16px;
    transition: .3s background-color;
}
.meniu a:hover, .activ{
	background-color: #35b3d6 !important;
}
footer{
	position: absolute;
	bottom: 0;
	background-color: #0c120c;
	height: 300px;
	width: 100%;
}
.jos{
	display: flex;
}
.linieJos{
    width: 100%;
    height: 30px;
    background-color: #171717;
}
.linkuri{
	flex: 1;
	margin-right: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	height: 250px;
	border-radius: 5px;
	background-color: #2a2a2a;
}
.linkuri:last-child{
	margin-right: 0px;
}
.intrebare{
    padding: 15px;
    box-shadow: 1px 1px 5px 0px #5d5d5d;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}
.intrebareTitlu {
    line-height: 22px;
    color: #991d21;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #0c120c;
    margin-bottom: 20px;
    padding-right: 150px;
    text-overflow: ellipsis;
}
.mt20{
	margin-top: 20px;
}
.titluPrimaPagina {
    color: #0c120c;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    padding-left: 0px;
    line-height: 25px;
    margin-bottom: 40px;
    padding-bottom: 7px;
    border-bottom: 1.5px solid #19647e;
}
.content{
	padding-top: 50px;
}
.likeDislike {
    position: absolute;
    right: 15px;
    font-size: 17px;
    top: 10px;
    display: flex;
}
.like{
	    margin-right: 10px;
}
.blackC{
	color: #0c120c;
}
.intrebareTitlu .blackC{
	font-size: 16px;
}
.intrebareHashtaguri {
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.hashtag {
    background-color: #c9e4e7;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
.adaugaIntrebare{
    background-color: #991d21 !important;
    margin: 6px;
    padding-top: 9px !important;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #fff;
}
.top{
	width: 100%;
    border-radius: 5px;
    border-collapse: unset;
    border-spacing: unset;
}
.top thead tr{
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.top thead th:first-child{
	border-top-left-radius: 5px;
}
.top thead th:last-child{
	border-top-right-radius: 5px;
}
.top thead th{
	border-right: 1px solid #fff;
}
.top thead th:last-child{
	border-right: 1px solid #19647e;
}
.top thead {
    background-color: #19647e;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.top td, .top th{
	padding: 10px;
}
.top tbody tr td:first-child{
	border-left: 1px solid #0c120c;
}
.top tbody tr{
	border-bottom: 1px solid #0c120c;
}
.top tbody td{
	border-right: 1px solid #0c120c;
	border-bottom: 1px solid #0c120c;
}
.top tbody tr:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.top tbody tr:last-child td:first-child{
	border-bottom-left-radius: 5px;
}
.top tbody tr:last-child td:last-child{
	border-bottom-right-radius: 5px;
}
.tc{
	text-align: center;
}
.tr{
	text-align: right;
}
.tl{
	text-align: left;
}
.insigne{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
  	grid-row-gap: 10px;
}
.insigna {
    border-radius: 5px;
    border: 1.5px solid #19647e;
    display: flex;
    height: 50px;
}
.imagineInsigna {
    background-color: #19647e;
    border-top-right-radius: 50%;
    width: 60px;
    height: 49px;
    color: #fff;
    font-size: 25px;
    padding-top: 12px;
    padding-left: 12px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 3px;
}
.textInsigna {
    width: 100%;
    padding-left: 15px;
    padding-top: 17px;
}
.contentPrimaPagina{
	display: block;
	margin-bottom: 100px;
}
.titluBoxJos {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 15px;
    color: #999;
}
.continutBoxJos{
    display: block;
    padding-left: 20px;
    padding-top: 20px;
}
.continutBoxJos a{
    display: block;
    margin-bottom: 7px;
    color: #cecece;
}
.continutBoxJos a:hover{
	color: #fff;
}
.stangaJos{
	float: left;
	padding-top: 10px;
    color: #fff;
    font-size: 12px
}
.dreaptaJos{
	float: right;
	padding-top: 10px;
    color: #fff;
    font-size: 12px
}
.c{
	clear: both;
}